.special-image-style {
    width: 80%;
    height: auto; 
    padding-left: 9.9%;
}

.projects-container {
    margin: 0 auto; 
    padding: 15px;
    width: 1000px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding-top: 20px;
}

@media (max-width: 1070px) {
    .projects-container {
        width: 500px;
    }
}

@media (max-width: 1070px) {
    .grid {
      grid-template-columns: 1fr;
      padding-left: 10px;
    }
  }

.cell {
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  flex-shrink: 0;
}