/* NavBar.css */

.navbar {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    justify-content: space-around;
    position: fixed; 
    top: 0;
    left: 0; 
    z-index: 1000; 
}


.nav-link {
    color: blue;
    text-decoration: none;
    padding: 10px 15px;
}

