.home {
    display: flex;
    align-items: center; 
    width: 1000px;
    margin: 0 auto; 
}

@media (max-width: 1070px) {
    .home {
        width: 920px;
        display: flex;
        flex-direction: column-reverse;
    }
}

.text-column {
    width: 50%; 
    padding-right: 2%;
}

.hello {
    font-size: 48px;
}

.swe-text {
    font-size: 24px;
}

.image-column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
}

.img {
    max-width: 106%;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
