.experienceText {
    text-align: left;
}

/* .experienceText strong {
    margin-top: 2px; 
    margin-bottom: 0px;
} */

.experienceText p {
    margin-top: 0px; 
}

.timeText {
    opacity: 0.5;
    display: block;
    /* margin-bottom: 0px; */
}

.positionText {
    opacity: 0.75;
}

.container {
    /* width: 70%; */
    margin: 0 auto; 
    padding: 15px;
    width: 1000px;
}

.titles {
    text-align: left;
    margin-bottom: 5px;
}

/* .custom-line {
    height: 1px;
    background-color: #666;
    border: none;
} */

.below-line {
    margin-top: 25px;
}