.experienceText {
    text-align: left;
}

.timeText {
    opacity: 0.5;
    display: block;
    font-size: 15px;
}

.companyText {
    font-size: 23px;
}

.positionText {
    opacity: 0.6;
    margin-top: 0px; 
    font-size: 20px;
}

.experience-container {
    margin: 0 auto; 
    padding: 15px;
    width: 1000px;
}

@media (max-width: 1070px) {
    .experience-container {
        width: 500px;
    }
    .below-line {
        flex-direction: column; 
        align-items: stretch; 
    }
}

.titles {
    text-align: left;
    margin-bottom: 5px;
    font-size: 28px;
}

.below-line {
    margin-top: 25px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.below-right {
    display: flex;
    align-items: flex-start;
    width: 50%;
}

.below-line-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.left-content {
    font-size: 20px;
    text-align: left;
    width: 100%; 
    box-sizing: border-box; 
    padding-left: 35px;
    padding-right: 35px;
}

.right-content {
    width: 100%;
}

.aboutMe {
    text-align: left;
    align-items: top;
}

.vertical-line {
    position: relative; 
    border-left: 1px solid white;
    margin: 0 20px;
    height: auto;
    min-height: 250px;
}

.vertical-line::before,
.vertical-line::after,
.vertical-line .middle-dot {
    content: '';
    position: absolute;
    left: -5.5px; 
    width: 10px;
    height: 10px;
    background-color: white; 
    border-radius: 50%;
}

.vertical-line::before {
    top: 23px; 
}

.vertical-line .middle-dot {
    top: 111px; 
}

.vertical-line::after {
    top: 199px; 
}