html {
    height: 100%; 
    background-color: #282c34; 
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

.HomePage {
    padding-top: 120px;
}

#home {
    scroll-margin-top: 120px; 
}

#experience, #skills, #projects, #contact {
    scroll-margin-top: 50px; 
}